*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    position: relative;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;        /* Ensures header stays above the image */
    
    /* Blurry effect */
    background-color: rgba(255, 255, 255, 0.267); /* Semi-transparent white */
    backdrop-filter: blur(3px);               /* The blur effect */   /* Support for Safari */
}


header .navbar{
    display: flex;
    
    padding: 0 40px;



}

header .navbar .top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:20px 40px 20px 40px;
}

header .navbar .top-bar .logo{
    display: flex;
    width: 40%;


}

.logo a{
    display: flex;
    align-items: center;

    

}

.logo a h1{
    padding: 0 30px 0 30px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    position: relative;
   
    
}

.logo a h1::after{
    content: "";
    position: absolute;
    left: 30px;
    bottom: -5px;
    width:0;
    height:3px;
    background-color: rgb(0, 255, 255);
    transition: 0.3s ease-in-out;

}
.logo a h1:hover::after {
    /* calc(100% - 50px) accounts for 25px padding on both sides */
    width: calc(100% - 50px); 
}

.logo a img{


    width:6vh;
    border: 2px solid blue;
    border-radius: 100px;
    display: inline-block;
}





header .navbar .top-bar nav li a {
    text-decoration: none;
    padding: 0 25px; /* Shorthand for top/bottom 0, left/right 25px */
    color: rgb(255, 255, 255);
    font-weight: 500; /* Removed px */
    position: relative;
}

nav li a::after {
    content: "";
    position: absolute;
    left: 25px; /* Starts where the text starts */
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: aqua;
    transition: 0.3s ease-in-out;
}

nav li a:hover::after {
    /* calc(100% - 50px) accounts for 25px padding on both sides */
    width: calc(100% - 50px); 
}

.top-bar nav button{
    padding: 10px 30px;
    border: 2px white solid;
    border-radius:100px;
    background-color: white;
    font-weight: 300;
    transition: 0.3s ease-in-out;
}

.top-bar nav button:hover{
    border: 2px white solid;
    border-radius:100px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    
}


.top-bar nav li{
    list-style: none;
    display: inline;
}

.background{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


}

.background img{
    width: 100%;
    height: 1000px;

}
.home{
    position: absolute;
    width: 85%;
    height: 300px;
}

.home h1{
    color: white;
    font-weight: bold;
    font-size: 95px;
}
.home h2{
    color: white;
    font-weight: bold;
    font-size: 70px;

}
.home p{
    color: white;
    font-size: 30px;
}

.btn .Get-involved{
    
    padding:15px 60px;
    border: 2px solid white;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.btn .Visit{
    padding:15px 40px;
    border:2px solid white;
    border-radius:100px ;
    background-color: white;
    color: black;
    font-size: 20px;
}